header {
    background:rgba(141, 24, 24, 0.7);
    border-bottom:2px solid rgba(0, 0, 0, 0.7);
    backdrop-filter:blur(10px);
    width:100%;
    position:fixed;
    top:0;
    left:0
}
header nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    height:8vh;
    padding:0px 8px;
    text-decoration: none
}
    li {
        list-style: none;
        flex-grow: 3;
        padding-right: 4px;
        padding-left: 10px;
        text-decoration: none;
        color: black
    }
    ul {
        display: flex;
        justify-content:space-between;
    }

    header li a{color:#000000;
        position:relative;
        font-size:1 rem;
        font-family:"sans-serif";
        text-decoration: none
    }